.li {
    font-size: 26px;
}

.div {
    margin: 0px 0px 20px 15px;
    transition: margin .3s;
}

.div:hover {
    margin: 0px 10px 20px 10px;
}

.link {
    position: relative;
    text-transform: lowercase;
}

.link:hover {
    text-transform: uppercase;
}

.link.active {
    text-transform: capitalize;
    color: var(--navlink__text_active);
}

.link::after {
    position: absolute;
    left: -5px;
    top: 0%;
    min-height: 160%;
    min-width: 0px;
    content: "";
    transition: all .5s ease-in-out;
    background: var(--navlink__back);
}

.link:hover:after {
    left: -5px;
    width: 115%;
    border-radius: 20px;
    opacity: .25;
    background: var(--navlink__back);
}

.link.active:after {
    left: -5px;
    width: 115%;
    border-radius: 20px;
    opacity: .4;
    background-color: var(--navlink__back);
}