.linkLi {
    margin: 20px 0px 20px 0px;
}

.link {
    display: grid;
    position: relative;
    text-transform: uppercase;
    text-align: center;
    font-family: var(--headers-font);
    font-size: 26px;
    font-weight: bold;
    color: var(--button-text-color);
}

.link:hover {
    text-shadow: 0px 0px 5px var(--button-shadow);
    color: var(--button-text-color-hover);
}

.link.linkActive {
    color: var(--figure-color-active);
    text-shadow: none;
}

.link::before {
    position: absolute;
    min-height: 100%;
    content: "";
    transition: all .5s ease-in-out;
}

.link:hover::before {
    width: 100%;
    top: -5px;
    left: -5px;
    padding: 5px 5px 5px 5px;
    border-radius: 15px;
    opacity: .3;
    background: var(--navlink-decor-hover);
}

.link.linkActive::before {
    width: 100%;
    top: -5px;
    left: -5px;
    padding: 5px 5px 5px 5px;
    border-radius: 15px;
    opacity: .1;
    background-color: var(--navlink-decor-active);
}