.container {
    display: grid;
    grid-template-rows: 50px 1fr min-content;
    grid-template-columns: 260px 1fr;
    grid-template-areas:
        "contact contact"
        "chats dialogs"
        "chats message";
    height: 100%;
    width: 100%;
    background-color: var(--messages-back);
}

.chats {
    grid-area: chats;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-top: 1px solid var(--chats-border);
    border-right: 1px solid var(--chats-border);
}

.chats .innerChats {
    position: sticky;
    top: 10%;
}

.contact {
    grid-area: contact;
}

.dialogs {
    grid-area: dialogs;
    border-top: 1px solid var(--search-border);
    font-family: 'Concert One', cursive;
    font-size: 14px;
}

.newMessage {
    grid-area: message;
    border-top: 2px solid var(--newMessage-border);
}

.textarea {
    width: 90%;
    margin: 5px auto 1px 10px;
    border-radius: 10px;
    border: none;
    outline: none;
    resize:none;
}

.divButton {
    text-align: end;
    margin: 0px 10px 10px 0px;
}