.chatDiv {
    margin: 10px 5px;
    border: 1px solid var(--page-inner-border);
    border-radius: 15px;
    box-shadow: inset 0px 0px 10px var(--panels-shadow);
    background-color: var(--page-back);
}

.chatLink {
    display:flex;
    justify-content: space-between;
    padding: 10px;
}

.chatLink:hover {
    cursor: pointer;
}

.img {
    width: 50px;
    height: 50px;
    border: 1px solid var(--page-inner-border);
    border-radius: 15px;
}

.img:hover {
    cursor:pointer;
    box-shadow: 0px 0px 10px var(--button-shadow);
}

.img:active {
    box-shadow: none;
}

.chatSpan {
    align-self: center;
    margin: 0px 10px;
    word-wrap: break-word;
    overflow: hidden;
    font-family: var(--headers-font);
    font-size: 20px;
    font-weight: bold;
    color: var(--text-color);
}

.chatSpan:hover {
    cursor: pointer;
    text-shadow: 0px 0px 5px var(--button-shadow);
    text-decoration: none;
    color: var(--button-text-color-hover);
}

.chatSpan:active {
    color: var(--button-text-color-active);
    text-shadow: none;
}