.div {
    display:grid;
    grid-template-rows: 100px 100px minmax(min-content, max-content);
    grid-template-columns: 150px minmax(min-content, max-content) 1fr;
    grid-template-areas:
    'avatar job contacts'
    'avatar desc contacts'
    'name status contacts';
    grid-column-gap: 50px;
    max-width: 100%;
    padding: 10px;
    overflow: hidden;
    justify-content: space-between;
    font-family: 'Concert One', cursive;
    background-color: var(--profileInfo-back);
}

.avatar {
    grid-area: avatar;
    align-self: start;
    justify-self: start;
    width: 150px;
    height: 180px;
    border-radius: 100px;
}

.spanName {
    grid-area: name;
    text-transform: capitalize;
    justify-self: start;
    align-self: center;
    font-size: 40px;
    color: var(--profileInfo-text);
}

.status {
    grid-area: status;
}

.ul {
    grid-area: contacts;
    font-size: 20px;
    align-self: center;
    text-align: right;
    color: var(--profileInfo-text);
}

.ul li {
    margin: 10px;
}

li a {
    color: var(--profileInfo-text);
}

li a:hover {
    color: var(--profileContact-hover);
}

li a:active {
    color: var(--profileContact-active);
}

li a:visited {
    color: var(--profileContact-visited);
}

.figure {
    transform: scale(1.5);
    margin: 10px 10px 10px 10px;
    color: var(--contact-figure);
}

.job {
    grid-area: job;
    transform: scale(5);
    align-self: center;
    justify-self: center;
    color: var(--profileInfo-job);
}

.spanDesc {
    grid-area: desc;
    font-size: 24px;
    align-self: center;
    justify-self: center;
    margin-left: 10px;
    color: var(--profileInfo-text);
}