.div {
    display:grid;
    grid-template-rows: 100px 100px 100px;
    grid-template-columns: 150px minmax(150px, 1fr) 1fr;
    grid-template-areas:
    'avatar job contacts'
    'avatar desc contacts'
    'name about contacts';
    grid-column-gap: 10px;
    max-width: 100%;
    padding: 10px;
    overflow: hidden;
    font-family: 'Concert One', cursive;
    background-color: var(--profileInfo-back);
}

.avatar {
    grid-area: avatar;
    align-self: start;
    justify-self: start;
    width: 150px;
    height: 150px;
    border-radius: 100px;
}

.spanName {
    grid-area: name;
    text-transform: capitalize;
    justify-self: start;
    align-self: end;
    font-size: 40px;
    color: var(--profileInfo-text);
}

.spanAbout {
    grid-area: about;
    font-size: 24px;
    align-self: end;
    justify-self: center;
    color: var(--profileInfo-text);
}

.ul {
    grid-area: contacts;
    font-size: 20px;
    align-self: center;
    justify-self: right;
    text-align: right;
    color: var(--profileInfo-text);
}

.ul li {
    margin: 10px;
}

.job {
    grid-area: job;
    font-size: 40px;
    align-self: start;
    justify-self: start;
    color: var(--profileInfo-text);
}

.spanDesc {
    grid-area: desc;
    font-size: 24px;
    align-self: center;
    justify-self: center;
    color: var(--profileInfo-text);
}