.dialogDiv {
    width: 50%;
    height: max-content;
    margin: 10px;
    border: 1px solid var(--page-inner-border);
    border-radius: 15px;
    padding: 10px;
    cursor: default;
    background-color: var(--page-back);
    color: var(--button-text-color-hover);
}