.div {
    margin: -30px 10px 20px 60px;
    height: 20px;
}

.p {
    width: 155px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align:left;
    font-size: 15px;
    font-family: 'PT Sans', sans-serif;
    color: var(--message-text);
}