.divPages {
    display:inline-flex;
    width: 100%;
    padding-bottom: 10px;
    overflow: hidden;
    font-size: 20px;
    color: var(--findUsers-page);
    cursor: pointer;
}

.spanChosen {
    padding: 0px 10px 0px 10px;
    font-weight:bolder;
    color: var(--findUsers-page-chosen);
}

.spanUnchosen {
    padding: 0px 3px 0px 3px;
}

.pageNumber {

}