.statusSpan {
    font-size: 32px;
    font-family: var(--button-text-font);
    text-decoration: underline dotted 1px;
    color: var(--header-small-color);
}

.statusSpan:hover {
    text-shadow: 0px 0px 10px var(--button-shadow);
    text-decoration: none;
    color: var(--button-text-color-hover);
}

.statusSpan:active {
    color: var(--button-text-color-active);
    text-shadow: none;
}

.divError {
    display:inline-flex;
    width:max-content;
    margin-bottom: 10px;
    padding: 10px;
    text-align: center;
    font-family: var(--error-font);
    color: var(--error-color);
}

.figure {
    margin-right: 5px;
    color: var(--error-color);
}

.input {
    display: flex;
    justify-self: center;
    outline: none;
    border: 1px solid var(--input-border);
    border-radius: 15px;
    padding: 10px;
    font-family: var(--input-text-font);
    font-size: 32px;
    color: var(--input-text-color);
    background-color: var(--input-back);
}

.input:focus {
    border: 1px solid var(--input-border-focus);
}

.input::-webkit-input-placeholder {
    color: var(--placeholder-color);
    text-transform: lowercase;
}

.error {
    border: 1px solid var(--error-color);
}