.statusSpan {
    font-size: 32px;
    color: var(--profileInfo-status);
}

.statusSpan:hover {
    text-decoration: none;
}

.divError {
    display:inline-flex;
    width:max-content;
    margin-bottom: 10px;
    padding: 10px;
    text-align: center;
    color: var(--error-text);
}

.figure {
    margin-right: 5px;
    color: var(--error-text);
}

.input {
    display: flex;
    justify-self: center;
    font-size: 32px;
    padding: 10px;
    outline: none;
    border: 1px solid var(--header-menu-border);
    border-radius: 10px;
    color: var(--login-text-dark);
    background-color: var(--login-back);
}

.input:focus {
    border: 1px solid var(--header-border-hover);
}

.error {
    border: 2px solid var(--error-text);
}
