.divUsers {
    display: grid;
    width: 100%;
    margin: 10px 10px 10px 0px;
    border: 1px solid var(--panels-border);
    border-radius: 15px;
    padding: 10px;
    background-color: var(--page-back);
}