.contactLi {
    margin: 15px 10px 0px 10px;
}

.figure {
    transform: scale(1.1);
    margin-right: 10px;
    color: var(--figure-color);
}

.contactLink {
    cursor: alias;
    text-decoration: underline dotted 1px;
    text-transform: lowercase;
    font-family: var(--button-text-font);
    font-size: 20px;
    color: var(--button-text-color);
}

.contactLink:hover {
    color: var(--button-text-color-hover);
    text-shadow: 0px 0px 10px var(--button-shadow);
    text-decoration: none;
}

.contactLink:active {
    color: var(--button-text-color-active);
    text-shadow: none;
}