.aside {
    grid-area: aside;
    display: flex;
    flex-direction:column;
    justify-content:flex-start;
    min-height: 100%;
    text-align: right;
    font-family: 'Concert One', cursive;
    font-size: 14px;
    color: var(--aside-text);
    background-color: var(--aside-back);
}

.aside .innerAside {
    position: sticky;
    top: 10%;
    margin: 10px 20px 10px 20px;
}