.div {
    grid-area: search;
    position: relative;
    margin-right: 100px;
    margin-left: 50px;
}

.input {
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50px;
    padding-left: 50px;
    text-align: right;
    transition: all 1.1s ease;
    background-color: var(--search-back);
}

input::-webkit-input-placeholder {
    font-size: 24px;
    color: var(--search-text);
}

input::-moz-input-placeholder {
    font-size: 20px;
    color: var(--search-text);
}

input:-ms-input-placeholder {
    font-size: 20px;
    color: var(--search-text);
}

.figure {
    transform: scale(1.5);
    position: absolute;
    top: 37%;
    margin-left: 16px;
    transition: all .55s ease;
    color: var(--search-icon);
}

.input:hover, .input:focus, .input:active {
    width: 300px;
    outline: none;
    border: 2px solid var(--search-border);
    padding-right: 10px;
    text-align: right;
    font-size: 20px;
    color: var(--search-text-hover);
    background-color: var(--search-back-hover);
}

.div:hover .input::-webkit-input-placeholder {
    font-size: 20px;
    color: var(--search-text-hover);
}