.div {
    display: grid;
    grid-row: 1fr 1fr;
    height: 100%;
    justify-items: flex-end;
    align-content: space-around;
    align-items:center;
    padding-right: 10px;
    font-family: 'PT Sans', sans-serif;
}

.span {
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--contact-text);
}

.divData {
    font-size: 16px;
    color: var(--data-text);
}