.div {
    display: grid;
    grid-row: 1fr 1fr;
    height: 60px;
    margin: 0px 0px 5px 10px;
    font-family: 'PT Sans', sans-serif;
}

.span {
    align-self:center;
    font-size: 16px;
    font-weight: 600;
    color: var(--contact-text);
}

.divData {
    align-self: center;
    font-size: 16px;
    color: var(--data-text);
}