.divContainer {
    width: 50%;
    max-width: 500px;
    margin: 10px;
}

.divContainer h1 {
    padding: 10px;
    text-align: left;
    font-family: 'Concert One', cursive;
    font-size: 50px;
    text-transform: uppercase;
    color: var(--post-head-text);
}