.divContainer {
    display: grid;
    padding: 10px 50px 10px 40px;
    align-items: center;
    justify-items: center;
    border-radius: 15px;
    border: 1px solid var(--panels-border);
    background-color: var(--page-back);
}

.divContainer h1 {
    padding: 10px;
    justify-self: left;
    font-family: var(--headers-font);
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--header-small-color);
}

.divContainer h1:hover {
    cursor: default;
}