.div {
    width: min-content;
    height: min-content;
    margin: -43px 0px 0px 218px;
    border-radius: 15px;
    padding: 4px 5px 4px 5px;
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    font-weight: 600;
    background-color: var(--message-counter-back);
    color: var(--message-counter-text);
}
