.li {
    font-size: 26px;
}

.div {
    margin: 0px 0px 20px 15px;
    transition: margin .3s;
}

.div:hover {
    margin: 0px 20px 20px 20px;
}

.a {
    position: relative;
    text-transform: lowercase;
    color: var(--nav-link-text);
}

.a:hover {
    text-transform: uppercase;
}

.a.active {
    text-transform: capitalize;
    color: var(--anchor-text-active);
}

.a::after {
    position: absolute;
    left: -5px;
    top: 0%;
    min-height: 160%;
    min-width: 0px;
    content: "";
    transition: all .5s ease-in-out;
    background: var(--anchor-back-decor);
}

.a:hover:after {
    left: -5px;
    width: 115%;
    border-radius: 20px;
    opacity: .25;
    background: var(--anchor-back-decor);
}

.a.active:after {
    left: -5px;
    width: 115%;
    border-radius: 20px;
    opacity: .4;
    background-color: var(--anchor-back-decor);
}