.nav {
    grid-area: nav;
    display: flex;
}

.nav .innerNav {
    position:fixed;
    top: 10%;
    margin: 0px 0px 0px 10px;
    border: 1px solid var(--panels-border);
    border-radius: 15px;
    background-color: var(--panels-back);
}

.friendsDiv {
    margin-top: 50px;
    margin-bottom: 50px;
    overflow: hidden;
    border: 1px solid magenta;
}