.ul {
    display: grid;
    grid-template-rows: 100px;
    grid-template-columns: 100px 1fr repeat(4, 1fr);
    grid-template-areas:
    "image search home friends video lessons";
    grid-column-gap: 10px;
    align-items: center;
    justify-items:center;
}
