/*.grid-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
}

.grid-wrapper > * {
    max-width: 600px;
    color: #353535;
    font-size: 1.2em;
    line-height: 1.5;
    padding: 20px;
    background: #d0cfc5;
    border: 2px solid black;
    text-align: center;
}

.header-nav-ul {
    margin: 0px;
}

#imageLogo {
    width: 200px;
    height: 200px;
}

#imageBali {
    width: 200px;
    height: 200px;
}

#imageParrot {
    width: 200px;
    height: 200px;
}

@media only screen and (min-width: 600px) {*/
.grid-wrapper {
    min-height: 100%;
    display: grid;
    grid-template-rows: 100px 1fr  70px;
    grid-template-columns: 155px minmax(375px, 1fr) 200px;
    grid-template-areas:
        "header header header"
        "nav content aside"
        "footer footer footer";
    border: none;
    background-color: var(--main-back);
}

.header {
    grid-area: header;
}

.nav {
    grid-area: nav;
}

.content {
    grid-area: content;
}

.aside {
    grid-area: aside;
}

.footer {
    grid-area: footer;
}





/*
}


@media only screen and (max-width: 999px) {
    .nav-leftside {
        position: fixed;
        top: 0;
        bottom: 0;
        width: 300px;
        left: -340px;
        transition: transform .3s ease-in-out;
    }
}*/