:root {
    --aside-text: rgb(255, 185, 40);
    --aside-back: rgb(25, 5, 60);
    --footer-text: rgb(165, 150, 150);
    --footer-back: rgb(10, 10, 45);
    --navigation-icon: rgb(255, 185, 40);
    --navigation-text: rgb(255, 185, 40);
    --search-text: rgb(10, 25, 35);
    --search-text-hover: rgb(255, 185, 40);
    --search-back: rgb(255, 185, 40);
    --search-back-hover:rgb(10, 25, 35);
    --search-icon: rgb(85, 40, 130);
    --search-icon-hover: rgb(255, 185, 40);
    --search-border: rgb(255, 185, 40);
    --figure: rgb(255, 185, 40);
    --figure-active: rgb(20, 235, 0);
    --header-back:rgb(10, 25, 35);
    --nav-link-text: rgb(255, 185, 40);
    --anchor-text-active: rgb(20, 235, 0);
    --anchor-back-decor: rgb(255, 185, 50);
    --profile-back: rgb(25, 5, 60);
    --profileInfo-text: rgb(255, 185, 50);
    --profileInfo-back: rgb(85, 40, 130);
    --my-posts-back:rgb(25, 5, 60);
    --post-head-text: rgb(0, 150, 0);
    --post-text: rgb(204, 185, 75);
    --post-back: rgb(136, 79, 192);
    --button-text: rgb(255,185, 50);
    --button-back: rgb(85, 40, 130);
    --button-border: rgb(153, 84, 223);
    --button-back-decor: rgb(255, 185, 50);
    --content-back: rgb(25,10,40);
    --navbar-back: rgb(25, 5, 60);
    --main-back: rgb(110, 0, 0);
    --menu-icon: rgb(20, 235, 0);
    --menu-back: rgb(75, 90, 155);
    --messages-back: rgb(25, 25, 90);
    --newMessage-border: rgb(75, 90, 155);
    --contact-text: rgb(200, 200, 200);
    --message-text: rgb(235, 230, 255);
    --data-text: rgb(180, 180, 180);
    --message-counter-text: rgb(190, 200, 225);
    --message-counter-back: rgb(75, 90, 155);
    --chat-back: rgb(60, 124, 85);
    --chat-text: rgb(255, 185, 50);
    --chats-border:rgb(255, 185, 50);
    --chat-text-hover: rgb(60, 124, 85);
    --chat-back-hover: rgb(255, 185, 50);
    --chat-text-active: rgb(255, 251, 0);
    --chat-back-active: rgb(79, 64, 165);
    --chat-text-focus: rgb(250, 249, 170);
    --chat-back-focus: rgb(57, 51, 90);
    --contact-border:rgb(255, 185, 50);
    --contact-back: rgb(20, 15, 60);
    --dialog-back: rgb(77, 77, 139);
    --dialog-message: rgb(255, 255, 255);
    --findUsers-back: rgb(48, 34, 75);
    --findUsers-text: rgb(255, 185, 50);
}