:root {
    --aside-text: rgb(255, 185, 40);
    --aside-back: rgb(25, 5, 60);
    --footer-text: rgb(165, 150, 150);
    --footer-back: rgb(10, 10, 45);
    --navigation-icon: rgb(255, 185, 40);
    --navigation-text: rgb(255, 185, 40);
    --search-text: rgb(255, 185, 40);
    --search-back: rgb(255, 185, 40);
    --search-back-hover:rgb(10, 25, 35);
    --search-icon: rgb(85, 40, 130);
    --search-icon-hover: rgb(255, 185, 40);
    --search-border: rgb(255, 185, 40);
    --header-back:rgb(10, 25, 35);
    --nav-link-text: rgb(255, 185, 40);
    --anchor-text-active: rgb(20, 235, 0);
    --anchor-back-decor: rgb(255, 185, 50);
    --post-head-text: rgb(0, 150, 0);
    --post-text: rgb(255, 185, 50);
    --post-back: rgb(25, 10, 40);
    --content-back: rgb(25,10,40);
    --navbar-back: rgb(25, 5, 60);
}