:root {
    --main-back-dark:#283655;
    --main-back-light:#C9D1C8;
    --login-form-shadow:#4D648D;
    --login-header-dark:#D8412F;
    --login-header-light:#04202C;
    --login-text-dark:#F5CA99;
    --login-text-disable:#211F30;
    --login-placeholder-dark:#8fa1b4;
    --loginform-header-dark:#FE7A47;
    --login-border:#5B7065;
    --login-border-focus:#46a89a;
    --login-back:#211F30;
    --button-login-back:#211F30;
    --button-login-shadow:#C9D1C8;
    --button-login-decor:#C9D1C8;
    --button-login-disable:#4D648D;
    --error-text:#ff0000;
    --header-back:#002C54;
    --header-figure-dark:#8fa1b4;
    --header-figure-active: #46a89a;
    --header-text-dark:#F5CA99;
    --header-shadow: #4D648D;
    --header-menu-border:#5B7065;
    --header-border-hover:#46a89a;
    --header-text-disable:#211F30;
    --profileInfo-back: #16253D;
    --profileInfo-figure-dark:#8fa1b4;
    --profileInfo-figure-back:#002C54;
    --profileInfo-avatar-border:#5B7065;
    --profileInfo-name:#D8412F;
    --profileInfo-status:#C9D1C8;
    --profileInfo-text:#F5CA99;
    --profileInfo-desc:#C9D1C8;
    --profileInfo-contact:#C9D1C8;
    --profileContact-hover:#F5CA99;
    

    --my-posts-back:rgb(25, 5, 60);
    --post-head-text: rgb(0, 150, 0);
    --post-text: rgb(204, 185, 75);
    --post-back: rgb(136, 79, 192);

    /* --login-back-hover: rgb(155, 153, 153);
    --login-back-focus: rgb(19, 3, 17);
    --login-border-hover: rgb(70, 168, 154);
    --login-text-hover:rgb(188, 17, 211);
    --login-text-active:rgb(20, 235, 0);
    --login-text-focus:rgb(219, 214, 214);
    --button-text: rgb(255,185, 50);
    --button-disable: rgb(77, 74, 74); */
    /*
    #04202C dark green
    #C9D1C8 Туман +
    #5B7065 Сосна
    #304040 Вечно-зеленый
    #4D648D Черника
    #283655 Чернильный индиго
    #D0E1F9 Фиолетово-голубой
    #E6D72A Канарейка
    #5BC8AC Бирюза
    #98DBC6 Аквамарин
    #F18D9E Розовый тюльпан +
    #D9B44A Солнечный
    #FCFDFE Молоко +
    #FE7A47 Папайя
    #D8412F Клубника +
    #F5CA99 Гранола +
    #ACD0C0 Туманная лазурь
    #4F6457 Горы
    #75B1A9 Небесный
    #D5C9B1 Овсянка
    #E05858 Увядший красный
    #BFDCCF Мятный
    #5F968E Сине-зеленый
    #CD7213 Бронза
    #EFB509 Золотистый
    #002C54 Сумерки
    #16253D Полуночный синий
    #211F30 Тень
    #32384D Асфальт
    #E29930 Горчица
    #217CA3 Лазурный синий
*/

    
    --aside-text: rgb(255, 185, 40);
    --aside-back: rgb(25, 5, 60);
    --footer-text: rgb(165, 150, 150);
    --footer-back: rgb(10, 10, 45);
    --navigation-icon: rgb(255, 185, 40);
    --navigation-text: rgb(255, 185, 40);
    --search-text: rgb(10, 25, 35);
    --search-text-hover: rgb(255, 185, 40);
    --search-back: rgb(255, 185, 40);
    --search-back-hover:rgb(10, 25, 35);
    --search-icon: rgb(85, 40, 130);
    --search-icon-hover: rgb(255, 185, 40);
    --search-border: rgb(255, 185, 40);
    --figure: rgb(255, 185, 40);
    --figure-active: rgb(20, 235, 0);
   
    --navlink__text: rgb(255, 185, 40);
    --navlink__text_active: rgb(20, 235, 0);
    --navlink__back: rgb(255, 185, 50);
    
    --button-text: rgb(255,185, 50);
    --button-back: rgb(85, 40, 130);
    --button-border: rgb(153, 84, 223);
    --button-back-decor: rgb(255, 185, 50);
    --button-disable: rgb(77, 74, 74);
    --content-back: rgb(25,10,40);
    --navbar-back: rgb(25, 5, 60);
    
    --menu-icon: rgb(20, 235, 0);
    --menu-back: rgb(75, 90, 155);
    --messages-back: rgb(25, 25, 90);
    --newMessage-border: rgb(75, 90, 155);
    --contact-text: rgb(200, 200, 200);
    --message-text: rgb(235, 230, 255);
    --data-text: rgb(180, 180, 180);
    --message-counter-text: rgb(190, 200, 225);
    --message-counter-back: rgb(75, 90, 155);
    --chat-back: rgb(60, 124, 85);
    --chat-text: rgb(255, 185, 50);
    --chats-border:rgb(255, 185, 50);
    --chat-text-hover: rgb(60, 124, 85);
    --chat-back-hover: rgb(255, 185, 50);
    --chat-text-active: rgb(255, 251, 0);
    --chat-back-active: rgb(79, 64, 165);
    --chat-text-focus: rgb(250, 249, 170);
    --chat-back-focus: rgb(57, 51, 90);
    --contact-border:rgb(255, 185, 50);
    --contact-back: rgb(20, 15, 60);
    --dialog-back: rgb(77, 77, 139);
    --dialog-message: rgb(255, 255, 255);
    --findUsers-back: rgb(48, 34, 75);
    --findUsers-text: rgb(255, 185, 50);
    --findUsers-page: rgb(255, 185, 50);
    --findUsers-page-chosen: rgb(20, 235, 0);
    --status-text:rgb(255, 255, 255);
    --contact-figure: rgb(49, 145, 41);
   
    
    --error-back: rgb(255, 255, 255);
    --user-border: rgb(255, 185, 50);
}