.li {
    grid-area: friends;
    display: inline;
    opacity: .99;
    cursor: pointer;
    transform: scale(3);
    text-align: justify;
    transition: 0.9s;
    border: none;
}

.div {
    height: 100%;
    width: 50px;
    margin-left: 50px;
}

.divText {
    display: none;
}

.div:hover .divText {
    display: block;
    opacity: 1;
    position: absolute;
    top: 18px;
    margin-left: -7px;
    padding: 0px 2px 2px 2px;
    border: none;
    border-radius: 8px;
    background-color: var(--main-text-color);
    font-family: 'Concert One', cursive;
    font-size: 7px;
    color: var(--search-background);
}

.a {
    display: inline;
    margin: auto;
    padding: auto;
    color: var(--search-background);
}