.ul {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 140px 2fr repeat(4, 1fr);
    grid-template-areas:
    "image search home friends video lessons";
    grid-column-gap: 5px;
    margin: 10px;
    align-items:center;
    text-align: center;
}
/*remove into modules*/
/*
.ul li {
    display: inline;
}

.ul li a {
    display: inline;
    margin: auto;
    padding: auto;
}
*/

