.postArticle {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 10fr 3fr;
    width: inherit;
    margin: 10px 0px;
    padding: 10px 0px;
    border: 1px solid var(--page-inner-border);
    border-radius: 15px;
    background-color: var(--main-back-color);
    color: var(--input-text-color);
}

.avatar {
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 1;
    grid-column-end: 1;
    height: 50px;
    margin: 0px 10px;
    border-radius: 100%;
}

.messageSpan {
    grid-column: 2/span 1;
    align-self: center;
    padding: 10px;
    font-family:var(--input-text-font);
    font-size: 18px;
    font-weight:400;
    white-space:pre-wrap;
    overflow: hidden;
    word-wrap:break-word;
}

.messageSpan:hover {
    text-decoration: none;
    cursor: default;
}

.likeDiv {
    display: flex;
    grid-column-start: 3;
    justify-self: flex-end;
    align-self: center;
}

.likeSpan {
    margin: 0px 10px 0px 10px;
    font-family: var(--input-text-font);
    font-weight: bolder;
    font-size: 18px;
}

.likeSpan:hover {
    text-decoration: none;
    cursor: default;
}

.likeIcon {
    transform: scale(1.5);
    color: var(--input-text-color-active)
}

.likeIcon:hover {
    cursor: pointer;
}