.div {
    display:grid;
    grid-template-columns: min-content;
    grid-template-rows: min-content min-content;
    position: relative;
    transition: margin-bottom .6s ease;
}

.figure {
    color: var(--header-figure-dark);
    transform: scale(3);
}

.div:hover {
    margin-bottom: 25px;
}

.divText {
    display: none;
}

.div:hover .divText {
    display: block;
    justify-self:center;
    position: absolute;
    top: 130%;
    font-family: 'Concert One', cursive;
    font-size: 30px;
    text-transform: capitalize;
    color: var(--login-text-dark);
}

.active .figure {
    color: var(--header-figure-active);
    border-radius: 30px;
}