.div {
    display:grid;
    grid-template-columns: min-content;
    grid-template-rows: min-content min-content;
    position: relative;
    transition: margin-bottom .6s ease;
}

.figure {
    color: var(--figure);
    transform: scale(2.7);
}

.div:hover {
    margin-bottom: 25px;
}

.divText {
    display: none;
}

.div:hover .divText {
    display: block;
    justify-self:center;
    position: absolute;
    top: 130%;
    border: none;
    font-family: 'Concert One', cursive;
    font-size: 30px;
    color: var(--navigation-text);
}

.active .figure {
    color: var(--figure-active);
}