.div {
    display:grid;
    grid-template-columns: min-content;
    grid-template-rows: min-content min-content;
    position: relative;
    transition: margin-bottom .6s ease;
}

.figure {
    color: var(--figure-color);
    transform: scale(3);
}

.div:hover {
    margin-bottom: 25px;
}

.divText {
    display: none;
}

.div:hover .divText {
    display: block;
    justify-self:center;
    position: absolute;
    top: 200%;
    font-family: var(--button-text-font);
    font-size: 26px;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--text-color);
}

.active .figure {
    color: var(--figure-color-active);
}