.div {
    width: 100%;
    background-color: var(--findUsers-back);
}

.container {
    display: grid;
    grid-template-areas:
    'avatar name location'
    'avatar status button';
    margin: 10px 10px 10px 10px;
    border: 1px solid gold;
    border-radius: 20px;
    padding: 10px 10px 10px 10px;
    font-family: 'Concert One', cursive;
    color: var(--findUsers-text);
    height: min-content;
    align-items: center;
    justify-items: start;
}

.img {
    grid-area: avatar;
    width: 200px;
    height: 200px;
    border-radius: 50px;
}

button {
    grid-area: button;
    font-size: 24px;
}

.name {
    grid-area: name;
    font-size: 36px;
}

.status {
    grid-area: status;
    font-size: 26px;
}