.footer {
    grid-area: footer;
    padding: 10px;
    text-align: center;
    font-family: 'Concert One', cursive;
    font-size: 30px;
    color: var(--footer-text);
    background-color: var(--footer-back);
}