.footer {
    grid-area: footer;
    background-color: var(--header-background);
    color: var(--search-background);
    text-align: center;
    padding: 10px;
    font-family: 'Concert One', cursive;
    font-size: 30px;
}