.footer {
    grid-area: footer;
    margin: 10px 10px 10px 10px;
    border: 1px solid var(--panels-border);
    border-radius: 15px;
    padding: 10px;
    text-align: center;
    background-color: var(--panels-back);
}

.footerSpan {
    font-family: var(--headers-font);
    font-size: 12px;
    color: var(--placeholder-color);
}