.menuUl {
    position:absolute;
    width: 250px;
    height: max-content;
    top: 100%;
    left: auto;
    text-align: center;
    border: 1px solid var(--header-menu-border);
    border-radius: 10px;
    background-color: var(--main-back-dark);
}

.menuUl:hover {
    border: 1px solid var(--header-border-hover);
}

.menuUl>li {
    margin: 20px 0px;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
}

span {
    color: var(--header-text-dark);
}

span:hover {
    text-decoration: underline 1px;
}

span:active {
    color: var(--header-text-disable);
}

.logoutButton {
    width: max-content;
    position: relative;
    outline: none;
    cursor: pointer;
    border: 1px solid var(--login-border);
    border-radius: 10px;
    background-color: var(--button-login-back);
}

.logoutButton::after {
    width: 0%;
    height: 0%;
}

.logoutButton:hover {
    box-shadow: 0px 0px 10px var(--button-login-shadow);
}

.logoutButton:hover::after {
    width: 0%;
    height: 0%;
}

.logoutSpan {
    padding: 0px 5px;
    text-transform: capitalize;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    color: var(--header-text-dark);
}

.logoutSpan:hover {
    text-decoration: none;
}