nav {
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 80px 1fr 250px;
    grid-template-areas:
    "logo ul login";
    grid-column-gap: 30px;
    align-items: center;
    justify-items: center;
}

