@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;0,900;1,400;1,700;1,900&display=swap');

.loginDiv {
    display: grid;
    max-width: 600px;
    height: 100vh;
    margin: auto;
    justify-items: center;
    font-family: 'Roboto', sans-serif;
    background-color: var(--main-back-dark);
}

.loginDiv > h1 {
    align-self: center;
    margin-top: 1vh;
    text-transform: capitalize;
    font-size: 48px;
    color: var(--login-header-dark);
}

.loginDiv>p {
    font-size: 18px;
    color: var(--login-text-dark);
    line-height: 1.8rem;
}

.loginDiv>p>span {
    text-transform: uppercase;
}

.createDiv {
    display: flex;
    align-items: center;
    justify-items: center;
    height: max-content;
    margin-bottom: 50px;
}

.createDiv > h2 {
    height: max-content;
    margin-right: 20px;
    font-size: 28px;
    color: var(--loginform-header-dark);
}

.createButton {
    outline: none;
    cursor: pointer;
    border: 1px solid var(--login-border);
    border-radius: 10px;
    background-color: var(--button-login-back);
}

.createButton:hover {
    box-shadow: 0px 0px 10px var(--button-login-shadow);
}

.createButton::after {
    width: 0%;
    height: 0%;
}

.createButton:hover:after {
    width: 0%;
    height: 0%;
}

.createSpan {
    text-align: center;
    padding: 0px 5px;
    text-transform: capitalize;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    color: var(--login-text-dark);
}

.createSpan:hover {
    text-decoration: none;
}