.div {
    grid-area: login;
    display:inline-flex;
    align-self: center;
    justify-self:center;
    margin-right: 20px;
    margin-left: 10px;
    color: red;
}

/* .div button {
    width: 100%;
    margin: 10px 10px 10px 10px;
    padding: 0px 10px 10px 10px;
    font-size: 17px;
} */