.divUser {
    display: grid;
    grid-template-rows: max-content max-content;
    grid-template-columns: 100px minmax(200px, 1fr) minmax(min-content, max-content);
    grid-template-areas:
        'avatar name empty'
        'avatar status button';
    grid-gap: 10px;
    margin: 10px;
    border: 1px solid var(--page-inner-border);
    border-radius: 15px;
    padding: 10px;
    align-items: center;
    background-color: var(--main-back-color);
}

.nameLink {
    grid-area: name;
    justify-self: center;
    align-self: flex-start;
    margin: 10px 0px;
}

.nameSpan {
    font-family: var(--headers-font);
    font-size: 36px;
    font-weight: normal;
    color: var(--header-small-color);
}

.nameSpan:hover {
    text-decoration: none;
    text-shadow: 0px 0px 10px var(--button-shadow);
    color: var(--button-text-color-hover);
}

.nameSpan:active {
    color: var(--button-text-color-active);
    text-shadow: none;
}

.avatarLink {
    grid-area: avatar;
    width: max-content;
    border: 1px solid var(--panels-border);
    border-radius: 15px;
}

.avatarLink:hover {
    box-shadow: 0px 0px 10px var(--button-shadow);
}

.avatarLink:active {
    box-shadow: none;
}

.img {
    width: 100px;
    height: 100px;
    border-radius: 15px;
}

.statusSpan {
    grid-area: status;
    align-self: stretch;
    justify-self: center;
    font-family: var(--input-text-font);
    font-size: 24px;
    font-weight: normal;
    color: var(--input-text-color);
}

.statusSpan:hover {
    text-decoration: none;
    cursor: default;
}

.followDiv{
    grid-area: button;
    display: grid;
    justify-self: end;
}

.followButton {
    outline: none;
    border: 1px solid var(--button-border);
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
    background-color: var(--button-back);
}

.followButton:hover {
    box-shadow: 0px 0px 10px var(--button-shadow);
    border: 1px solid var(--button-border-hover);
}

.followButton:active {
    box-shadow: inset 0px 0px 5px var(--button-shadow);
    border: 1px solid var(--button-border-active);
}

.followButton:disabled {
    background-color: var(--button-back-disable);
    border: 1px solid var(--button-border-disable);
}

.followButton:disabled .followSpan {
    color: var(--button-text-color-disable);
}

.followSpan {
    text-align: center;
    padding: 0px 5px;
    text-transform: capitalize;
    font-family: var(--button-text-font);
    font-size: 20px;
    color: var(--button-text-color);
}

.followSpan:hover {
    text-decoration: none;
    color: var(--button-text-color-hover);
}

.followSpan:active {
    text-decoration: none;
    color: var(--button-text-color-active);
}