.divUser {
    display: grid;
    grid-template-rows: 100px 100px;
    grid-template-columns: 150px minmax(200px, 1fr) minmax(min-content, max-content);
    grid-template-areas:
        'avatar name name'
        'avatar status button';
    grid-gap: 20px;
    /* max-width: 100%; */
    margin: 10px 10px 10px 10px;
    border: 1px solid var(--page-inner-border);
    border-radius: 15px;
    padding: 10px 10px 10px 10px;
    align-items: center;
    /* justify-content: space-between; */
    background-color: var(--main-back-color);
}

.nameLink {
    grid-area: name;
    display: grid;
    width: 100%;
    text-align: center;
    /* justify-self: center; */
    align-self: flex-start;
    border: 1px solid forestgreen;
    font-size: 40px;
}

.divName {
    /* grid-area: name; */
    /* display: flex; */
    /* width: 100%; */
    /* text-align: center; */
    /* justify-self: center; */
    /* align-self: flex-start; */
    /* border: 1px solid forestgreen; */
    /* font-size: 40px; */

}

.avatarLink {
    grid-area: avatar;
}

.img {
    width: 150px;
    height: 200px;
    border-radius: 100px;
}

.divStatus {
    grid-area: status;
    align-self: stretch;
    font-size: 24px;
    color: var(--status-text);
}

.divFollow {
    grid-area: button;
    justify-self: end;
}

.followButton {
    font-size: 28px;
}

.followButton:hover {
    cursor: pointer;
}

.followButton:disabled {
    font-size: 20px;
    color: var(--button-disable);
}

.spanUnchosen {
    padding: 0px 3px 0px 3px;
}