.form {
    display: grid;
    align-self: flex-start;
    width: 500px;
    border: 1px solid var(--form-shadow);
    border-radius: 15px;
    box-shadow: 0px 0px 30px 10px var(--form-shadow);
    padding: 1rem;
}

.form h1 {
    text-align: center;
    text-transform: capitalize;
    font-size: 24px;
    padding-bottom: 20px;
    color: var(--header-small-color);
}

.form h1:hover {
    cursor: default;
}

.inputDiv {
    display: grid;
    grid-template-columns: 0.6fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 1rem;
    align-items: center;
    margin: 10px;
}

.label {
    display: flex;
    text-transform: capitalize;
    font-size: 24px;
    color: var(--text-color);
}

.input {
    display: flex;
    text-align: center;
    border: 1px solid var(--input-border);
    border-radius: 15px;
    padding: 5px;
    outline: none;
    font-family: var(--input-text-font);
    font-size: 20px;
    color: var(--input-text-color);
    background-color: var(--input-back);
}

.input:focus {
    border: 1px solid var(--input-border-focus);
}

.input::-webkit-input-placeholder {
    color: var(--placeholder-color);
    text-transform: lowercase;
}

.error {
    border: 1px solid var(--error-color);
}

.divError {
    display: flex;
    justify-self: flex-end;
    width: max-content;
    padding: 10px;
    cursor: default;
    text-transform: lowercase;
    font-family: var(--error-font);
    font-size: 18px;
    color: var(--error-color);
}

.divNotAuth {
    display: flex;
    justify-self: center;
    padding: 10px;
    font-size: 18px;
    text-transform: lowercase;
    font-family: var(--error-font);
    color: var(--error-color);
}

.divNotAuth:hover {
    cursor: default;
}

.figure {
    margin-right: 5px;
    color: var(--error-color);
}

.checkbox {
    transform: scale(2);
}

.captchaDiv {
    display: grid;
    grid-template-columns: 0.6fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 1rem;
    justify-items: center;
    margin: 20px 0px 10px 0px;
}

.captcha {
    border: 1px solid var(--error-color);
}

.captchaDiv>input {
    display: flex;
    width: 90%;
    height: max-content;
    text-align: center;
    align-self: flex-end;
}

.singinButton {
    display: flex;
    justify-self: center;
    width: max-content;
    position: relative;
    outline: none;
    cursor: pointer;
    margin: 20px 0px 10px 0;
    border: 1px solid var(--button-border);
    border-radius: 10px;
    padding: 5px;
    background-color: var(--button-back);
}

.singinButton:hover {
    box-shadow: 0px 0px 10px var(--button-shadow);
    border: 1px solid var(--button-border-hover);
}

.singinButton:active {
    box-shadow: inset 0px 0px 5px var(--button-shadow);
    border: 1px solid var(--button-border-active);
}


.singinButton:disabled {
    background-color: var(--button-back-disable);
    color: var(--button-text-color-disable);
}

.singinSpan {
    text-align: center;
    padding: 0px 5px;
    text-transform: capitalize;
    font-family: var(--button-text-font);
    font-size: 24px;
    color: var(--button-text-color);
}

.singinSpan:hover {
    text-decoration: none;
    color: var(--button-text-color-hover);
}

.singinSpan:active {
    text-decoration: none;
    color: var(--button-text-color-active);
}

.formError {
    border: 1px solid var(--error-color);
}

.employerDiv {
    display: grid;
    justify-self: center;
}

.employerSpan {
    cursor: default;
    padding: 5px 0px;
    font-family: var(--alternative-font);
    font-size: 14px;
    color: var(--header-small-color);
}

.employerSpan:hover {
    text-decoration: none;
}

.employerSpan:active {
    cursor: default;
    padding: 5px 0px;
    font-family: var(--alternative-font);
    font-size: 14px;
    color: var(--header-small-color);
}

.employerSpan > b {
    cursor: default;
    padding: 5px 5px;
    font-family: var(--alternative-font);
    font-weight: bold;
    font-size: 14px;
    color: var(--header-small-color);
}